body {
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    max-width: 960px;
    margin: 0 auto;
    color: #121212;
    width: 90%;
}
.header__logo {
    width: 400px;
    margin: auto;
}

.header__center {
    width: 100%;
    text-align: center;
    padding: 20px 0 0;
}

.header__buttons {
    width: 100%;
    text-align: right;
}

.nav__button, .remove__button, .info__button {
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 8px 9px 6px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 20px 0 5px;
    text-align: center;
}

.nav__button:hover, .remove__button:hover, .info__button:hover {
    background-color: #326891;
}

.nav__directions {
    border-top: 1px solid #ebebeb;
    padding: 0 60px;
    margin: auto;
    text-align: center;
    max-width: 960px;
    border-bottom: 1px solid #000;
}

.prebuilt__search {
    display: inline-block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 10px;
    /* cursor: pointer; */
}

.pageTitle__bar {
    border-bottom: 1px double #121212;
    padding-bottom: 2px;
    text-align: center;
}

.pageTitle__bar:after {
    content: "";
    display: block;
    left: 0;
    top: 1px;
    width: 100%;
    height: 1px;
    background: #121212;
}

.search__bar {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.search__block {
    text-align: center;
    width: 21%;
    height: 64px;
    float: left;
    padding: 20px 0;
    background-color: rgba(0,0,0,.05);
    margin: 0 10px;
}

label {
    text-align: center;
    width: 100%;
    display: block;
}
input {
    clear: both;
    border: 0;
    width: 80%;
    text-align: center;
    border-radius: 3px;
    height: 32px;
    margin-top: 13px;
}

button.search__button {
    margin: 15px auto;
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: rgba(0,0,0,.3);
    color: white;
    height: 30px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

button.search__button:hover {
    background-color: rgba(0,0,0,.54);
}

.footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: rgba(0,0,0,.54);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #eee;
    cursor: pointer;
}

a {
    color: #121212;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.result__container {
    margin-bottom: 100px;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
}

.article__card {
    width: 30%;
    margin: 10px 20px 0 0;
    border: 1px solid #eee;
    padding: 5px 0px;
    min-width: 250px;
}

.result__type {
    width: 100%;
}

.article__content {
    width: 80%;
    margin: auto;
}
@media screen and (max-width: 424px) {
    .header__logo {
        width: 250px;
    }
}

.published__date {
    font-size: .8rem;
    color: rgba(0,0,0,.54);
    font-style: italic;
}
